
body {
  background: #ffffff;
  background-image: url("../images/Flag_of_Ethiopia.png");
  font-family: 'EB Garamond', serif;
  padding: 1px 25px;
}

#bobimage {
  height: 120%;
}

.button {
  background: #FCDD09;
}

.scale-with-grid {
  max-width: 100%;
  height: auto;
}

.textpanel {
  background: #EFF193;
  border-width: 0px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 3px 3px 6px #333;
  padding: 20px;
  margin: 20px 25px;
}

.quote {
  background: #078930;
  text-align: center;
}
